* {
  font-family: "Noto Serif Ahom", serif;
  color: #ff6347;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;
  background-color: #ffb0a3;
}
.container {
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 10%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1 {
  text-align: center;
}
.tasks__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  /* overflow-y: scroll; */
}
.task__container {
  width: 450px;
  height: 70px;
  border: 2px solid #b34432;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.container__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}
.container__button_add_task {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.container__button_remove_task {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.container__button_done_task {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.container__button_add_task:hover,
.container__button_remove_task:hover,
.container__button_done_task:hover {
  transition: all 0.9s;
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.container__modal {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1;
}
.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 40vh;
  margin-inline: auto;
  width: 500px;
  height: 200px;
  background-color: rgb(178, 237, 218);
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
}
.modal__header {
  text-align: center;
}
.modal__close_btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
}
.modal__close_btn:hover {
  border-radius: 50%;
  background-color: tomato;
}
.modal__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__content_btn {
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
}
.task__container_checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.task__container_checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transition: 120ms transform ease-in-out;
  background-color: #b34432;
}
.task__container_checkbox:checked::before {
  transform: scale(1);
}
