* {
  font-family: "Noto Serif Ahom", serif;
  /* background-color: black; */
  color: tomato;
}
/* body {
  position: absolute;
} */
.task__container {
  width: 900px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
.container__buttons {
  display: flex;
  width: 200px;
  gap: 20px;
  margin: 10px;
}
.container__button_add_task {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.container__button_remove_task {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.container__button_done_task {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.container__modal {
  position: absolute;
  left: 0; 
  right: 0; 
  top: 40vh;
  margin-inline: auto; 
  width: 500px;
  height: 200px;
  background-color: aquamarine;
}
.modal__header {
  text-align: center;
}
.modal__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}